<!-- Attractions Section -->
    <section id="attractions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Attractions</h2>
                    <h3 class="section-subheading text-muted">How to <a href="//youtu.be/8fvTxv46ano">make your time!!!!</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/mountain-running-silhouette_318-54899_white.png" alt="trail run logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Palo Duro Trail Run</h4>
                                    <h4 class="subheading">20k, 50k, and 50 mile trail run</h4>
                                    <h4 class="subheading"><a href="http://www.palodurotrailrun.com/">palodurotrailrun.com</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Get a quick 8 hour trail run in before the wedding! Note: The 20k is sold out. :(</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/8efd5c94f367b9ec0df4ef937fa0ae59.png" alt="dino icon">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Panhandle-Plains Historical Museum</h4>
                                    <h4 class="subheading">2503 4th Ave, Canyon, Texas 79015</h4>
                                    <h4 class="subheading"><a href="http://www.panhandleplains.org/">panhandleplains.org</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Largest history museum in the state of Texas. Includes Pioneer Town, paleontology, geology, American Western life and agriculture history, Native American art and artifacts, and a 2 story tall oil derrick.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>See<br/>the<br/>sights!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
