<!-- FAQ Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <h3 class="section-subheading text-muted">Frequently asked questions?</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>What should I wear?</h4><p>We're calling it "fun formal".</p>
                    <h4>Should I wear shoes?</h4><p>Yes! You should wear some &mdash; and the more comfortable the better!</p>
                    <h4>Where are you registered?</h4><p>We have too much stuff already. Please give to your favorite Puerto Rico recovery charity.</p>
                    <h4>No really, I want to get you something.</h4><p>Cash is king.</p>
                    <h4>Is there cell coverage or Wi-Fi?</h4><p>Assume not. Cell coverage in the canyon and at Mack Dick Pavilion is little to non-existent. Expect state run Wi-Fi at the pavilion to almost, but infuriatingly not quite work. :(</p>
                    <h4>Can I call a ride-share from the venue?</h4><p>Assume not. Lyft and Uber are in the area, but spotty cell phone coverage and few drivers in the area will make this dicey. Plan ahead accordingly.</p>
                    <h4>Hasn't your wedding been hastily thrown together?</h4><p>Perhaps more than we've liked, but we're rolling with it! #HastilyThrownTogether #ButYouLoveUsAnyway :D</p>
                </div>
            </div>
        </div>
    </section>
